@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Source Code Pro", monospace;
}
:root {
  --h1: 7.094rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --primary-blue: #1b263b;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
.navbar{
  background-color:var(--primary-blue);
  width: 40vw; 
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;

}
.closedNavbar{
  background-color: var(--primary-blue);
  width: 100vw; 
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}
.logo{
  max-height: 15rem;
  cursor: pointer;
}
.navContent{
   display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;   
  color: white;
  padding-right: 3rem;
  height: 100vh;
}
router-view {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60vw;
  z-index: -1;
}
.pageSelector {
  background-color: transparent;
  border: none;
  font-size: var(--h2);
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pageSelector:hover {
  color: rgb(255, 255, 255);
}

.pageSelector::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: top right;
}

.pageSelector:hover::before {
  transform: scaleX(1);
}
.subtleHint{
  color: white;
  opacity: 40%;
}
.content {
  position: absolute;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  padding-left: 5rem;
}
.contentText{
  margin-top: 2rem;
}
.listItem img{
  max-height: 5rem;
  max-width: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.listItem{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.skillList{
  font-size: var(--h3);
  padding-left: 3rem;
  text-align: left;
  margin: 2rem;
}
.header{
  margin-top: 3rem;
}
.gradDate{
  margin-top: 2rem;
  padding-left: 8.5rem;
}
.translated{
    animation-name: translateUp;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;  
}
.translateable{
  animation-name: translateUp;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-direction: reverse;  
}
.alwaysonscreenholder{
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes translateUp {
  100% { opacity: 0%; display: none;}
}
@media only screen and (max-width: 930px) {
  .navbar{
    width: 100%; 
    height: auto;
  }
  .navContent{
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5vh;
    height: auto;
  }
  .pageSelector{
    margin-right: 3vw;
  }
  .content{
    width: 100%;
    height: auto;
    margin-top: 30vh;
    overflow-y: auto;
  }
  .home{
    padding-left: 0rem;
  }
  .listItem{
    max-width: 60vw;
  }
html,
body,
* {
  font-size: 60%;
}
}
@media only screen and (max-width: 730px) {
  html,
body,
* {
  font-size: 45%;
  font-weight: bolder;
}
.navbar{
  display: none;
}
.closedNavbar{
  display:inline;
}
.content{
  z-index: -1;
  margin-top: 15rem;
}
.gradDate{
  padding-left: 0rem;
}}